{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}




{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="max-width: 500px; margin: 0 auto;">
        <h3 class="text-center mb-4">Update Password</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- App Name -->
            <div class="form-group mb-3">
                <label><b>App / Website Name</b></label>
                <input 
                    type="text" 
                    name="name" 
                    class="form-control"
                    value="{{ password.name }}"
                    required
                >
            </div>

            <!-- Password -->
            <div class="form-group mb-3">
                <label><b>Password</b></label>
                <input 
                    type="text" 
                    name="password" 
                    class="form-control"
                    value="{{ password.password }}"
                    required
                >
            </div>

            <!-- Logo/Image -->
            <div class="form-group mb-3">
                <label><b>Logo / Image</b></label><br>

                {% if password.image %}
                    <img src="{{ password.image.url }}" width="100" class="mb-2"><br>
                {% endif %}

                <input 
                    type="file" 
                    name="image"
                    class="form-control"
                >
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-success">Update</button>
                <a href="{% url 'password-list' %}" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}

